.home {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.home_intro {
  margin-top: 20em;
}
.home_intro_title {
  display: flex;
  justify-content: center;
}
.home_intro_paragraph {
  margin: 1em 0em 1em 0em;
  text-align: start;
}
.home_intro_paragraph_list1 {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
.home_intro_paragraph_list1_pictureEolienne, .home_intro_paragraph_list1_picturePanneau {
  display: flex;
  justify-content: space-around;
  margin: 0.8em;
  position: relative;
  z-index: 0;
}
.home_intro_paragraph_fossile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
}
.home_intro_paragraph_fossile_pictureFossile {
  width: 30%;
}
.home_intro_paragraph_fossile_pictureFossile.redStorm {
  width: 20%;
}
.home_intro_paragraph_fossile_egal, .home_intro_paragraph_fossile_plus {
  font-size: 4em;
}
.home_intro_paragraph_green {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
}
.home_intro_paragraph_green_picturegreen {
  width: 30%;
}
.home_intro_paragraph_green_picturegreen.blueStorm {
  width: 20%;
}
.home_intro_paragraph_green_egal, .home_intro_paragraph_green_plus {
  font-size: 4em;
}
.home_intro_paragraph_list2 {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.home_intro_paragraph_list2_bienfait {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.home .widget_header {
  background-clip: padding-box;
  position: relative;
  border-radius: 15px;
  padding: 0.5em;
  margin: 1em 0em 2em 0em;
}
.home .widget_header::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
}
.home .widget__form {
  margin: 0em 1.2em 0em 1.2em;
}
.home .widget__form-group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 2em;
  /* reset input */
}
.home .widget__form-group__field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid grey;
  outline: 0;
  padding: 7px 0;
}
.home .widget__form-group:placeholder-shown ~ .home .widget__form-group__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.home .widget__form-group__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
}
.home .widget__form-group__field:focus {
  padding-bottom: 6px;
}
~ .home .widget__form-group__field:focus__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
}
.home .widget__form-group__field:required, .home .widget__form-group__field:invalid {
  box-shadow: none;
}
.home .widget__form-group__frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
.home .widget__card {
  display: flex;
  flex-direction: column;
  margin: 2em 0em 2em 0em;
}
.home .widget__card_header {
  display: flex;
  flex-direction: row;
}
.home .widget__card_body {
  display: flex;
  flex-direction: row;
}
.home .widget__card_body_sun, .home .widget__card_body_wind {
  display: flex;
  flex-direction: column;
  align-items: center;
}/*# sourceMappingURL=layoutSmall.css.map */