.home {
    display: flex;
    flex-direction: column;
    padding: 1em;
    &_intro {
        margin-top: 20em;
        &_title {
            display: flex;
            justify-content: center;
        }
        &_paragraph {
            margin: 2em 0em 2em 0em;
            text-align: start;

            &_list1 {
                text-decoration: none;
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;
                border-radius: 15px;
                &_pictureEolienne,
                &_picturePanneau {
                    display: flex;
                    margin: 0.8em;
                }
            }
            &_fossile {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 1em;
                &_pictureFossile {
                    width: 30%;
                    &.redStorm {
                        width: 20%;
                    }
                }
                &_egal,
                &_plus {
                    font-size: 4em;
                }
            }

            &_green {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 1em;
                &_picturegreen {
                    width: 30%;
                    &.blueStorm {
                        width: 20%;
                    }
                }
                &_egal,
                &_plus {
                    font-size: 4em;
                }
            }
            &_list2 {
                display: flex;
                flex-direction: column;
                text-align: left;
                &_bienfait {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                }
            }
        }
    }
    .widget {
        &_header {
            background-clip: padding-box;
            position: relative;
            border-radius: 15px;
            padding: 0.5em;
            margin: 1em 0em 2em 0em;
        }
        &_header::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            margin: -2px;
            border-radius: inherit;
        }
        &__form {
            margin: 0em 1.2em 0em 1.2em;
            &-group {
                position: relative;
                padding: 15px 0 0;
                margin-top: 10px;
                width: 100%;
                margin-bottom: 2em;

                &__field {
                    width: 100%;
                    border: 0;
                    border-bottom: 2px solid grey;
                    outline: 0;
                    padding: 7px 0;
                }

                &:placeholder-shown ~ &__label {
                    font-size: 1.3rem;
                    cursor: text;
                    top: 20px;
                }
                &__label {
                    position: absolute;
                    top: 0;
                    display: block;
                    transition: 0.2s;
                    font-size: 1rem;
                }

                &__field:focus {
                    ~ &__label {
                        position: absolute;
                        top: 0;
                        display: block;
                        transition: 0.2s;
                        font-size: 1rem;
                    }
                    padding-bottom: 6px;
                }
                /* reset input */
                &__field {
                    &:required,
                    &:invalid {
                        box-shadow: none;
                    }
                }
                &__frame {
                    width: 90%;
                    margin: 40px auto;
                    text-align: center;
                }
            }
        }
        &__card {
            display: flex;
            flex-direction: column;
            margin: 2em 0em 2em 0em;
            &_header {
                display: flex;
                flex-direction: row;
            }
            &_body {
                display: flex;
                flex-direction: row;

                &_sun,
                &_wind {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                   
                }
            }
        }
    }
}
